.centered {
  float: none;
  margin: 0 auto;
}

body {
  background: #efefef;
}
.intro-1 {
  background: url('../../../bundles/application/img/box-sport-men-training-163403.jpeg') no-repeat center center;
  background-size:     cover;
}