<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>{% block title %}STRIVE{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('Resources/public/css/main.css') }}" />
        <link href="{{ asset('Resources/public/css/main.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('Resources/public/bower/MDBootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link href="{{ asset('Resources/public/bower/MDBootstrap/css/mdb.min.css') }}" rel="stylesheet">

        <!-- Custom Css -->
        <link href="{{ asset('Resources/public/css/main.css') }}" rel="stylesheet">

        <!-- Timepicker Css -->
        <link href="{{ asset('Resources/public/bower/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css') }}" rel="stylesheet">

    </head>
    <body>
    {% block javascripts %}
        <!-- SCRIPTS -->

        <!-- JQuery -->
        <script type="text/javascript" src="{{ asset('Resources/public/bower/jquery/dist/jquery.min.js') }}"></script>

        <!-- JQuery -->
        <script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/jquery-3.2.1.min.js') }}"></script>

        <!-- JQuery UI-->
        <script type="text/javascript" src="{{ asset('Resources/public/bower/jquery-ui/jquery-ui.min.js') }}"></script>

        <!-- Timepicker Addon -->
        <script type="text/javascript" src="{{ asset('Resources/public/bower/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js') }}"></script>

        <!-- Bootstrap dropdown -->
        <script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/popper.min.js') }}"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/bootstrap.min.js') }}"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/mdb.min.js') }}"></script>

        <!--Moment  -->
        <script src="{{ asset('Resources/public/bower/moment/min/moment.min.js') }}"></script>

        <!--FOS JsRouting -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% endblock %}

        <!-- CONTENT -->
        {% block body %}

        {% endblock %}
        <!-- END CONTENT-->
    {% block scripts %}

    {% endblock %}
    </body>
</html>
