{% extends '@Interface/Default/layout.html.twig' %}

{% block container %}
    <div class="row d-flex justify-content-between">

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r z-depth-1 bg-white">
            <a href="{{ asset(path('administrator')) }}">
                <div class="text-center p-2">
                    <img src="{{ asset('bundles/application/img/worker.png') }}" class="img-fluid centered pt-2">
                </div>
                <div class="text-center">
                    <p class="black-text text-uppercase font-weight-bold p-2 m-0">Admin</p>
                </div>
            </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r z-depth-1 bg-white">
            <a href="{{ asset(path('user')) }}">
                <div class="text-center p-2">
                    <img src="{{ asset('bundles/application/img/group.png') }}" class="img-fluid centered pt-2">
                </div>
                <div class="text-center">
                    <p class="black-text text-uppercase font-weight-bold p-2 m-0">Users</p>
                </div>
            </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r z-depth-1 bg-white">
            <a href="#">
                <div class="text-center p-2">
                    <img src="{{ asset('bundles/application/img/ban-user.png') }}" class="img-fluid centered pt-2">
                </div>
                <div class="text-center">
                    <p class="black-text text-uppercase font-weight-bold p-2 m-0">Banned Users</p>
                </div>
            </a>
        </div>
        <!--Grid column-->
    </div>

{% endblock %}