{% extends '@Interface/Default/layout.html.twig' %}

{% block container %}
    <div class="row d-flex">
    {% for user in users %}

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r z-depth-1 bg-white mr-3">
            <a href="{{ asset(path('user-event',{userId: user.id})) }}">
                <div class="text-center p-2">
                    <img src="{{ asset('bundles/application/img/worker.png') }}" class="img-fluid centered pt-2">
                </div>
                <div class="text-center">
                    <p class="black-text text-uppercase font-weight-bold p-2 m-0">{{ user.username }}</p>
                    <p class="black-text text-uppercase font-weight-bold p-2 m-0">{{ user.email }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}