{% extends '@Interface/Default/layout.html.twig' %}

{% block container %}
    <div class="title text-center">
        <h1>Create an Event</h1>
    </div>
    <div class="subtitle text-center" style="padding: 20px">
        <h2>You're about to create an event</h2>
    </div>
    <div id="displayFormStep" class="card-subtitle text-center" style="padding: 20px">
        <h3>Step one</h3>
    </div>
    <div class="container flex-center w-75 p-3 z-depth-1"
         style="background-color: #fff;">
        <!-- MultiStep Form -->
        {{ form_start(form, {'attr': {'id': 'msform', 'class':'w-100'}}) }}
        <!-- fieldsets -->
        <fieldset>
            <div class="container h-100 pt-3 pb-3">
                <div class="row h-25" id="select">
                    <div class="col">
                        <h5>Choose a type of event :</h5>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        {{ form_widget(form.eventType, {'id': 'formselect'}) }}
                    </div>
                </div>
                <div class="row h-25" id="requirement">
                    <div class="col d-flex align-items-center">
                        <h6>Required information for this type of event </h6>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row h-50" id="listOfRequirement">
                    <div class="col">
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <ul class="text-left">
                            <li>Location</li>
                            <li>Duration (Start - End)</li>
                            <li>Number of participant</li>
                        </ul>

                    </div>
                </div>
            </div>
            <input type="button" name="next" class="next action-button btn btn-elegant waves-effect" value="Next"/>
        </fieldset>
        <fieldset>
            <div class="container h-100 pt-3 pb-3">
                <div class="row">
                    <div id="eventInfoTitle" class="col text-center mb-4">
                        Event Informations
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="md-form flex-center">
                            {{ form_widget(form.eventName) }}
                            <label id="eventNameLabel">Title</label>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-3">
                        <div class="md-form flex-center">
                            {{ form_widget(form.eventStartDate) }}
                            <label for="formStartDate" id="eventStartDateLabel">From</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="md-form flex-center">
                            {{ form_widget(form.eventEndDate) }}
                            <label for="formEndDate" id="eventEndDateLabel">To</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mt-3">
                        <div class="md-form flex-center">
                            {{ form_widget(form.eventLocation, {'attr':{'class':'border-0'}}) }}
                            <label id="eventLocationLabel">Location</label>
                        </div>
                    </div>
                    <div class="mr-2">
                        <div class="flex-center">
                            <button type="button" class="btn btn-warning p-2" data-toggle="modal"
                                    data-target="#centralModalGoogleMap" onclick="initMap()"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col">
                        <div class="md-form">
                            Participants limit
                            {{ form_widget(form.eventParticipantLimit) }}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col">
                        <div class="md-form">
                            <div class="md-form">
                                {{ form_widget(form.eventDescription,  {'attr': {'class': 'md-textarea pb-0'}}) }}
                                <label id="eventDescriptionLabel">Description</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" name="previous" class="previous action-button btn btn-default waves-effect"
                   value="Previous"/>
            <input type="button" name="next" class="next action-button btn btn-elegant waves-effect" id="show-summary"
                   value="Next"/>
        </fieldset>
        <fieldset>
            <div class="container h-100 pt-3 pb-3">
                <div class="row">
                    <div id="eventInfoTitle" class="col text-center mb-2">
                        Event Summary
                    </div>
                </div>
                <div class="row mh-1">
                    <div class="col d-flex align-items-center">
                        Event's name :
                    </div>
                    <div class="col">
                        <div class="md-form flex-center">
                            <div id="eventNameResult" class="font-weight-bold"></div>
                        </div>
                    </div>
                </div>
                <div class="row mh-1">
                    <div class="col-4">
                        Your event start from
                    </div>
                    <div class="col-3">
                        <div id="eventStartDateResult" class="font-weight-bold text-center"></div>
                    </div>
                    <div class="col-1">
                        To
                    </div>
                    <div class="col-3">
                        <div id="eventEndDateResult" class="font-weight-bold text-center"></div>
                    </div>
                </div>
                <div class="row mh-1">
                    <div class="col-5">
                        Location of your event :
                    </div>
                    <div class="col-7">
                        <div id="eventLocationResult" class="font-weight-bold"></div>
                    </div>
                </div>
                <div class="row mh-1">
                    <div class="col">
                        Participant maximum for your event :
                    </div>
                    <div class="col">
                        <div id="eventParticipantLimitResult" class="font-weight-bold"></div>
                    </div>
                </div>
                <div class="row mh-1">
                    <div class="col-4">
                        The Description of your event :
                    </div>
                    <div class="col-8">
                        <div id="eventDescriptionResult" class="font-weight-bold"></div>
                    </div>
                </div>
            </div>
            <input type="button" name="previous" class="previous action-button btn btn-default waves-effect"
                   value="Previous"/>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success waves-effect'}}) }}
        </fieldset>
        {{ form_end(form) }}
        <!-- /.MultiStep Form -->

        <!-- Google Map Modal -->
        <div class="modal fade" id="centralModalGoogleMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             style="padding-right: 15px;">
            <div class="modal-dialog modal-lg modal-notify" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header elegant-color">
                        <p class="heading lead">Location Info</p>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div id="map" class="border border-dark">
                            <div id="mapresize">


                            </div>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <div class="w-100 d-flex">
                            <div class="w-50 d-flex">
                                <div class="w-75">
                                    <div class="md-form form-sm mb-0">
                                    <i class="fa fa-map-marker prefix"></i>
                                    <input id="address" type="text" class="form-control">
                                    <label for="address">Address</label>
                                </div>
                                </div>
                                 <div class="w-25">
                                     <button id="geocodeBtnSubmit" type="button"
                                             class="btn btn-green waves-effect waves-light p-2">
                                         <i class="fa fa-globe" aria-hidden="true"></i>
                                     </button>
                                 </div>
                            </div>
                            <div class="w-50 text-right">
                                <button id="confirmLocationBtn" type="button"
                                        class="rounded-circle btn btn-danger waves-effect waves-light disabled p-0" data-dismiss="modal" aria-label="Close" disabled>
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- /.Google Map Modal-->
    </div>
    <style type="text/css">
        #confirmLocationBtn {
            width: 3rem;
            height: 3rem;
        }

        .rounded-circle {
            border-radius: 100%;
        }

        #map #mapresize {
            height: 400px;
            max-width: 100%;
        }

        .text-danger textarea:focus, .text-danger input:focus {
            border-bottom: 1px solid rgb(211, 47, 47) !important;
            box-shadow: 0 1px 0 0 rgb(211, 47, 47) !important;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        #msform fieldset:not(:first-of-type) {
            display: none;
        }

        fieldset {
            height: 300px;
        }

        .next {
            position: absolute;
        }

        .mh-1 {
            height: 6vh;
        }

        body {
            background: #efefef;
        }

        /* DatePicker Container */
        .ui-datepicker {
            width: 216px;
            height: auto;
            margin: 5px auto 0;
            font: 9pt Arial, sans-serif;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        }

        .ui-datepicker a {
            text-decoration: none;
        }

        /* DatePicker Table */
        .ui-datepicker table {
            width: 100%;
        }

        .ui-datepicker-header {
            background: #373C42;
            color: #e0e0e0;
            font-weight: bold;
            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
            box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
            text-shadow: 1px -1px 0px #000;
            filter: dropshadow(color=#000, offx=1, offy=-1);
            line-height: 30px;
            border-width: 1px 0 0 0;
            border-style: solid;
            border-color: #111;
        }

        .ui-datepicker-title {
            text-align: center;
        }

        .ui-datepicker-prev, .ui-datepicker-next {
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            cursor: pointer;
            background-image: url('{{ asset('bundles/application/img/arrow.png') }}');
            background-repeat: no-repeat;
            line-height: 600%;
            overflow: hidden;
        }

        .ui-datepicker-prev {
            float: left;
            background-position: center -30px;
        }

        .ui-datepicker-next {
            float: right;
            background-position: center 0px;
        }

        .ui-datepicker thead {
            background-color: #f7f7f7;
            background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f1f1f1));
            background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
            background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
            background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
            background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f1f1f1', GradientType=0);
            border-bottom: 1px solid #bbb;
        }

        .ui-datepicker th {
            text-transform: uppercase;
            font-size: 7px;
            text-align: center;
            padding: 5px 0;
            color: #666666;
            text-shadow: 1px 0px 0px #fff;
            filter: dropshadow(color=#fff, offx=1, offy=0);
        }

        .ui-datepicker tbody td {
            padding: 0;
            border-right: 1px solid #bbb;
        }

        .ui-datepicker tbody td:last-child {
            border-right: 0px;
        }

        .ui-datepicker tbody tr {
            border-bottom: 1px solid #bbb;
        }

        .ui-datepicker tbody tr:last-child {
            border-bottom: 0px;
        }

        .ui-datepicker td span, .ui-datepicker td a {
            display: inline-block;
            font-weight: bold;
            text-align: center;
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: #666666;
            text-shadow: 1px 1px 0px #fff;
            filter: dropshadow(color=#fff, offx=1, offy=1);
        }

        .ui-datepicker-calendar .ui-state-default {
            background: #ededed;
            background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
            background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
            background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
            background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
            background: linear-gradient(top, #ededed 0%, #dedede 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dedede', GradientType=0);
            -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
            -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
            box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
        }

        .ui-datepicker-calendar .ui-state-hover {
            background: #f7f7f7;
        }

        .ui-datepicker-calendar .ui-state-active {
            background: #6eafbf;
            -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
            -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
            color: #e0e0e0;
            text-shadow: 0px 1px 0px #4d7a85;
            filter: dropshadow(color=#4d7a85, offx=0, offy=1);
            border: 1px solid #55838f;
            position: relative;
            margin: -1px;
        }

        .ui-datepicker-unselectable .ui-state-default {
            background: #f4f4f4;
            color: #b4b3b3;
        }

        .ui-datepicker-calendar td:first-child .ui-state-active {
            width: 29px;
            margin-left: 0;
        }

        .ui-datepicker-calendar td:last-child .ui-state-active {
            width: 29px;
            margin-right: 0;
        }

        .ui-datepicker-calendar tr:last-child .ui-state-active {
            height: 29px;
            margin-bottom: 0;
        }

        dl {
            margin: 0.5rem;
        }

        dl .ui_tpicker_time_label, dl .ui_tpicker_hour, dl .ui_tpicker_minute {
            line-height: 32px;
        }

        dl .ui_tpicker_hour select, dl .ui_tpicker_minute select {
            height: 31px;
            width: 31px;
            padding-left: 8px;
        }

        .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before, .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before {
            margin: 0 2px;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById('mapresize'), {
                zoom: 8,
                center: {lat: 46.808425, lng: 4.898393}
            });
            google.maps.event.addListenerOnce(map, 'idle', function () {
                google.maps.event.trigger(map, 'resize');
            });

            google.maps.event.addListener(map, 'center_changed', function () {
                checkBounds(map);
            });

            google.maps.event.addListener(map, 'idle', function () {
                checkBounds(map);
                var geocodeBtn = document.querySelector('#geocodeBtnSubmit');
                var geocodeInput = document.querySelector('#address');

                if( geocodeInput.value.length > 0 && geocodeInput !== undefined){
                    $(geocodeBtn).trigger('click');
                }
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('geocodeBtnSubmit').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });

            // si la carte est en dehors du planisphere
            function checkBounds(map) {

                var latNorth = map.getBounds().getNorthEast().lat();
                var latSouth = map.getBounds().getSouthWest().lat();
                var newLat;

                if (latNorth < 85 && latSouth > -85)
                    return;
                else {
                    if (latNorth > 85 && latSouth < -85)
                        return;
                    else {
                        if (latNorth > 85)
                            newLat = map.getCenter().lat() - (latNorth - 85);
                        if (latSouth < -85)
                            newLat = map.getCenter().lat() - (latSouth + 85);
                    }
                }
                if (newLat) {
                    var newCenter = new google.maps.LatLng(newLat, map.getCenter().lng());
                    map.setCenter(newCenter);
                }
            }


        }
        function geocodeAddress(geocoder, resultsMap) {
            var validateLocation = false;
            var lat;
            var lng;
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                    lat = marker.getPosition().lat();
                    lng = marker.getPosition().lng();
                    validateLocation = showIfLocationIsValid(confirmLocationBtn, status);
                    saveLocationData(lat, lng, address, validateLocation);
                } else {
                    validateLocation = showIfLocationIsValid(confirmLocationBtn, status);
                    saveLocationData(lat, lng, address, validateLocation);
                }
            });
        }

        function saveLocationData(latitude, longitude, locationName, locationValidity){
            var locationInput = document.querySelector('#' + '{{ form.eventLocation.vars.id }}');
            var latInput = document.querySelector('#' + '{{ form.eventLatitude.vars.id }}');
            var lngInput = document.querySelector('#' + '{{ form.eventLongitude.vars.id }}');
            var locationLabel = document.querySelector('#eventLocationLabel');
            console.log(locationValidity);
            if (locationValidity === true) {
                locationInput.value = locationName;
                locationLabel.className = 'active';
                latInput.value = latitude;
                lngInput.value = longitude;
            } else {
                locationInput.value = '';
                $(locationLabel).removeClass('active');
                latInput.value = '';
                lngInput.value = '';
            }
            console.log(locationInput.value);

        }
        function showIfLocationIsValid(checkBtn, locationStatus){
            if ( locationStatus === 'OK' ) {
                $(checkBtn).removeClass('disabled', 'btn-danger').addClass('btn-success').prop("disabled", false);
                $(checkBtn).children().removeClass('fa-times').addClass('fa-check');
                return true;
            } else {
                $(checkBtn).removeClass('btn-success').addClass('disabled', 'btn-danger').prop("disabled", true);
                $(checkBtn).children().removeClass('fa-check').addClass('fa-times');
                return false;
            }

        }
        document.addEventListener('DOMContentLoaded', function () {
            var step = 0;
            var stepTwo = ['eventName', 'eventStartDate', 'eventEndDate', 'eventDescription', 'eventLocation', 'eventParticipantLimit'];
            $(".next").click(function (event) {
                var checkData = checkValue(step);
                if (checkData === false) {
                    return false;
                }
                current_fs = $(this).parent();
                next_fs = $(this).parent().next();
                next_fs.show();
                current_fs.hide();
                step++;
                displayFormStep(step);
            });

            $(".previous").click(function () {
                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();
                previous_fs.show();
                current_fs.hide();
                step--;
                displayFormStep(step);
            });

            function checkValue(step) {
                var errorColorChosen = 'rgb(211, 47, 47)';
                var dataValue = {};
                var container = document.querySelector('#select');
                if (step === 0) {
                    var element = document.querySelector('#formselect');
                    if (element.value === "" || element.length === 0) {
                        container.style.color = "#212529";
                        setTimeout(function () {
                            container.style.color = "#D32F2F";
                        }, 300);
                        element.style.borderColor = 'rgb(218, 218, 218)';
                        setTimeout(function () {
                            element.style.borderColor = "rgb(211, 47, 47)";
                        }, 300);
                        return false;
                    }
                    element.style.borderColor = 'rgb(218, 218, 218)';
                    container.style.color = "#212529";
                    return true;
                } else {
                    elementsWithNoData = [];
                    errorDomDisplay(elementsWithNoData, errorColorChosen, true);
                    stepTwo.forEach(function (elem) {
                        var element = document.querySelector('#applicationbundle_event_' + elem);
                        if (element.value === "" || element.length === 0) {
                            dataValue[elem] = false;
                            elementsWithNoData.push(elem);
                        } else {
                            dataValue[elem] = true;
                        }
                    });
                    errorDomDisplay(elementsWithNoData, errorColorChosen, false);
                    for (data in dataValue) {
                        if (dataValue[data] === false) {
                            return false;
                        }
                    }
                    errorDomDisplay(elementsWithNoData, errorColorChosen, true);
                    return true;
                }
            }

            function displayFormStep(formStep) {
                var displayContainer = document.querySelector('#displayFormStep h3');
                console.log(formStep);
                var message;
                switch (formStep) {
                    case 0:
                        message = "Step One";
                        break;
                    case 1:
                        message = "Step Two";
                        break;
                    case 2:
                        message = "Last Step  ;)";
                        break;
                    default:
                        console.log("Error");
                }
                displayContainer.innerHTML = message;
            }

            function errorDomDisplay(batchOfDomElements, errorColor, returnToInitialState) {
                if (returnToInitialState === true) {
                    batchOfDomElements = ['eventName', 'eventStartDate', 'eventEndDate', 'eventDescription', 'eventLocation', 'eventParticipantLimit'];
                }
                batchOfDomElements.forEach(function (DomElem) {
                    var thisElem = document.querySelector('#applicationbundle_event_' + DomElem);
                    var thisElemLabel = document.querySelector('#' + DomElem + 'Label');
                    var parentForm = $(thisElemLabel).parent('.md-form');
                    if (returnToInitialState === false) {
                        $(parentForm).addClass('text-danger');
                        $(thisElemLabel).addClass('text-danger');
                        thisElem.style.borderColor = errorColor;
                    } else {
                        $(parentForm).removeClass('text-danger');
                        $(thisElemLabel).removeClass('text-danger');
                        thisElem.style.borderColor = "#757575";
                    }
                });
            }

            $("#show-summary").click(function () {
                var data = ['eventName', 'eventStartDate', 'eventEndDate', 'eventDescription', 'eventLocation', 'eventParticipantLimit'];
                data.forEach(function (e) {
                    var inputData = document.querySelector('#' + '{{ form.vars.name }}' + '_' + e);
                    if (inputData === "") {
                        inputData = 'undefined';
                    }
                    var result = document.querySelector('#' + e + 'Result');
                    if (inputData) {
                        result.innerHTML = inputData.value;
                    }
                });
            });

            $(function () {
                var startDateTextBox = $('#' + '{{ form.eventStartDate.vars.id }}');
                var endDateTextBox = $('#' + '{{ form.eventEndDate.vars.id }}');
                startDateTextBox.datetimepicker({
                    timeFormat: 'HH:mm',
                    showButtonPanel: false,
                    dateFormat: 'yy-mm-dd',
                    firstDay: 1,
                    timeText: "Horaire",
                    showOtherMonths: true,
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    minDate: 0,
                    controlType: 'select',
                    oneLine: true,
                    onClose: function (dateText, inst) {
                        if (endDateTextBox.val() != '') {
                            var testStartDate = startDateTextBox.datetimepicker('getDate');
                            var testEndDate = endDateTextBox.datetimepicker('getDate');
                            if (testStartDate > testEndDate)
                                endDateTextBox.datetimepicker('setDate', testStartDate);
                        }
                        else {
                            endDateTextBox.val(dateText);
                        }
                    },
                    onSelect: function (selectedDateTime) {
                        endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate'));
                    }
                });
                endDateTextBox.datetimepicker({
                    timeFormat: 'HH:mm',
                    showButtonPanel: false,
                    showOtherMonths: true,
                    dateFormat: 'yy-mm-dd',
                    firstDay: 1,
                    timeText: "Horaire",
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    minDate: 0,
                    controlType: 'select',
                    oneLine: true,
                    onClose: function (dateText, inst) {
                        if (startDateTextBox.val() != '') {
                            var testStartDate = startDateTextBox.datetimepicker('getDate');
                            var testEndDate = endDateTextBox.datetimepicker('getDate');
                            if (testStartDate > testEndDate)
                                startDateTextBox.datetimepicker('setDate', testEndDate);
                        }
                        else {
                            startDateTextBox.val(dateText);
                        }
                    },
                    onSelect: function (selectedDateTime) {
                        startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate'));
                    }
                });
            });

        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNemIkf9Q-cPihdMfAc0WIKXStTIvQ7dw&callback=initMap">
    </script>
{% endblock %}