{% extends '@Interface/Default/layout.html.twig' %}

{% block container %}
    <div class="row justify-content-around">
        <div class="col z-depth-1 m-3 bg-white">
            <table class="table table-bordered p-2">
                <div class="title text-center font-weight-bold p-3">my event</div>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>from</th>
                    <th>to</th>
                    <th>n° participants</th>
                    <th class="text-center"><i class="fa fa-trash prefix grey-text"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for userCreatedEvent in userCreatedEvents %}
                    <tr>
                        <td>{{ userCreatedEvent.eventName }}</td>
                        <td>{{ userCreatedEvent.eventStartDate.date }}</td>
                        <td>{{ userCreatedEvent.eventEndDate.date }}</td>
                        <td>{{ userCreatedEvent.participants|length }}</td>
                        <td class="text-center"><a href="{{ asset(path('deleteEvent',{ eventId: userCreatedEvent.id  })) }}" class=""><i class="fa fa-trash prefix red-text"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="col z-depth-1 m-3 bg-white">
            <table class="table table-bordered p-2">
                <div class="title text-center font-weight-bold p-3">subscribed event</div>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>from</th>
                    <th>to</th>
                    <th>n° participants</th>
                    <th class="text-center"><i class="fa fa-sign-out grey-text"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for showUserParticipatedEvent in showUserParticipatedEvents %}
                {%  if   showUserParticipatedEvent[0].user.id  ==  app.user.id  %}

                {% else %}
                    <tr>
                        <td>{{ showUserParticipatedEvent[0].eventName }}</td>
                        <td>{{ showUserParticipatedEvent[0].eventStartDate.date }}</td>
                        <td>{{ showUserParticipatedEvent[0].eventEndDate.date }}</td>
                        <td>{{ showUserParticipatedEvent[0].participants|length }}</td>
                        <td class="text-center"><a href="{{ asset(path('removeParticipation',{ eventId: showUserParticipatedEvent[0].id  })) }}" class=""><i class="fa fa-sign-out red-text"></i></a></td>
                    </tr>
                            {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>



{% endblock %}

