{% extends '@Interface/Default/layout.html.twig' %}


{% block container %}
    <div id="calendar"></div>
    <div id="eventDetails" style="height: 570px;display: none;">
        <div id="thisEventDetails" class="h-75">
            <div id="eventDetailsTitle" class="title text-center mb-5 p-3">
                <h3 class="m-0" id="eventNameResult"></h3>
            </div>
            <div id="duration" class="container mh-3">
                <div class="row">
                    <div id="durationTitle" class="col-2 text-left">
                        <h5>Duration</h5>
                    </div>
                </div>
                <div id="durationResult" class="row text-center">
                    <div id="eventStartDateResult" class="col-5 font-weight-bold">

                    </div>
                    <div class="col-2">
                        To
                    </div>
                    <div id="eventEndDateResult" class="col-5 font-weight-bold">

                    </div>
                </div>
            </div>
            <div id="location" class="container mh-3">
                <div class="row">
                    <div id="locationTitle" class="col-2 text-left">
                        <h5>Location</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 text-center">
                        <span class="ml-3 font-weight-bold" id="eventLocationResult"></span>
                        <button type="button" class="btn btn-warning p-2" data-toggle="modal"
                                data-target="#centralModalGoogleMap"  id= "centralModalGoogleMapBtn" onclick="initMap(this.value)">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div id="description" class="container mh-3">
                <div class="row">
                    <div id="descriptionTitle" class="col-2 text-left">
                        <h5>Description</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <textarea id="eventDescriptionResult" class="font-weight-bold text-white" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="eventCreatorDetails" class="h-25 w-100">
            <div id="eventCreatorInfo" class="h-100 centered">
                <div id="creatorTitle" class="row container">
                    <div class="col-4 text-left pl-3 pt-3">
                        <h5>Created by</h5>
                    </div>
                </div>
                <div id="creatorAvatar" class="row container text-center">
                    <div id="eventCreatorNameResult"
                         class="col-4 font-weight-bold d-flex justify-content-center align-items-center">
                    </div>
                    <div class="col-4">
                        <img src="http://via.placeholder.com/80x80">
                    </div>
                    <div id="memberSinceResult"
                         class="col-4 font-weight-bold d-flex justify-content-center align-items-center">
                        Member since :
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--Fixed bottom navbar -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <a href="{{ asset(path('createEvent')) }}" class="btn btn-outline-white waves-effect">Create an event</a>
        <button type="button"
                onclick="hideOrShow([this,document.querySelector('#participateToThisEventBtn'),document.querySelector('#eventDetails')],document.querySelector('#calendar'))"
                class="btn btn-outline-danger waves-effect" id="closeThisEventBtn" style="display: none;">
            Close
        </button>
        <button type="button" onclick="participateToThisEvent(this.value)" value=""
                class="btn btn-outline-white waves-effect" id="participateToThisEventBtn" style="display: none;">
            Participate to this event
        </button>
    </nav>
    <!-- Google Map Modal -->
    <div class="modal fade" id="centralModalGoogleMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-notify" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header elegant-color">
                    <p class="heading lead">Event Location Info</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div id="map" class="border border-dark">
                        <div id="mapresize" style="height: 500px;">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Google Map Modal-->
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        function initMap(coord) {
            if (coord !== undefined && coord.length > 0) {
                var markerCoords = coord.split(',');
                var lati =  parseFloat(markerCoords[0]);
                var longi =  parseFloat(markerCoords[1]);
            } else {
                var lati = 45.764043;
                var longi = 4.835658999999964;
            }

            var map = new google.maps.Map(document.getElementById('mapresize'), {
                zoom: 8,
                center: {lat: 45.764043, lng: 4.835658999999964}
            });
            google.maps.event.addListener(map, 'idle', function() {
                google.maps.event.trigger(map, 'resize');
                google.maps.event.trigger(marker, 'click');

            });
            var marker = new google.maps.Marker({
                position: {lat: lati, lng: longi},
                map: map,
                title: 'Here'
            });

            google.maps.event.addListener(marker, 'click', function () {
                map.setZoom(13);
                map.setCenter(this.getPosition());
            });

            google.maps.event.addListener(map, 'center_changed', function () {
                checkBounds(map);
            });

            google.maps.event.addListener(map, 'idle', function () {
                checkBounds(map);
            });

            function checkBounds(map) {

                var latNorth = map.getBounds().getNorthEast().lat();
                var latSouth = map.getBounds().getSouthWest().lat();
                var newLat;

                if (latNorth < 85 && latSouth > -85)
                    return;
                else {
                    if (latNorth > 85 && latSouth < -85)
                        return;
                    else {
                        if (latNorth > 85)
                            newLat = map.getCenter().lat() - (latNorth - 85);
                        if (latSouth < -85)
                            newLat = map.getCenter().lat() - (latSouth + 85);
                    }
                }
                if (newLat) {
                    var newCenter = new google.maps.LatLng(newLat, map.getCenter().lng());
                    map.setCenter(newCenter);
                }
            }
        }
        !function () {
            var today = moment();

            function Calendar(selector, events) {
                this.el = document.querySelector(selector);
                this.events = events;
                this.current = moment().date(1);
                this.draw();
                var current = document.querySelector('.today');
                if (current) {
                    var self = this;
                    window.setTimeout(function () {
                        self.openDay(current);
                    }, 500);
                }
            }

            Calendar.prototype.draw = function () {
                //Create Header
                this.drawHeader();

                //Draw Month
                this.drawMonth();

            }

            Calendar.prototype.drawHeader = function () {
                var self = this;
                if (!this.header) {
                    //Create the header elements
                    this.header = createElement('div', 'header');
                    this.header.className = 'header';

                    this.title = createElement('h1');

                    var right = createElement('div', 'right');
                    right.addEventListener('click', function () {
                        self.nextMonth();
                    });

                    var left = createElement('div', 'left');
                    left.addEventListener('click', function () {
                        self.prevMonth();
                    });

                    //Append the Elements
                    this.header.appendChild(this.title);
                    this.header.appendChild(right);
                    this.header.appendChild(left);
                    this.el.appendChild(this.header);
                }

                this.title.innerHTML = this.current.format('MMMM YYYY');
            }

            Calendar.prototype.drawMonth = function () {
                var self = this;


                if (this.month) {
                    this.oldMonth = this.month;
                    this.oldMonth.className = 'month out ' + (self.next ? 'next' : 'prev');
                    this.oldMonth.addEventListener('webkitAnimationEnd', function () {
                        self.oldMonth.parentNode.removeChild(self.oldMonth);
                        self.month = createElement('div', 'month');
                        self.backFill();
                        self.currentMonth();
                        self.fowardFill();
                        self.el.appendChild(self.month);
                        window.setTimeout(function () {
                            self.month.className = 'month in ' + (self.next ? 'next' : 'prev');
                        }, 16);
                    });
                } else {
                    this.month = createElement('div', 'month');
                    this.el.appendChild(this.month);
                    this.backFill();
                    this.currentMonth();
                    this.fowardFill();
                    this.month.className = 'month new';
                }
            }

            Calendar.prototype.backFill = function () {
                var clone = this.current.clone();
                var dayOfWeek = clone.day();

                if (!dayOfWeek) {
                    return;
                }

                clone.subtract('days', dayOfWeek + 1);

                for (var i = dayOfWeek; i > 0; i--) {
                    this.drawDay(clone.add('days', 1));
                }
            }

            Calendar.prototype.fowardFill = function () {
                var clone = this.current.clone().add('months', 1).subtract('days', 1);
                var dayOfWeek = clone.day();

                if (dayOfWeek === 6) {
                    return;
                }

                for (var i = dayOfWeek; i < 6; i++) {
                    this.drawDay(clone.add('days', 1));
                }
            }

            Calendar.prototype.currentMonth = function () {
                var clone = this.current.clone();

                while (clone.month() === this.current.month()) {
                    this.drawDay(clone);
                    clone.add('days', 1);
                }
            }

            Calendar.prototype.getWeek = function (day) {
                if (!this.week || day.day() === 0) {
                    this.week = createElement('div', 'week row');
                    this.month.appendChild(this.week);
                }
            }

            Calendar.prototype.drawDay = function (day) {
                var self = this;
                this.getWeek(day);

                //Outer Day
                var outer = createElement('div', this.getDayClass(day) + ' col');
                outer.addEventListener('click', function () {
                    self.openDay(this);
                });

                //Day Name
                var name = createElement('div', 'day-name', day.format('ddd'));

                //Day Number
                var number = createElement('div', 'day-number', day.format('DD'));


                //Events
                var events = createElement('div', 'day-events');
                this.drawEvents(day, events);

                outer.appendChild(name);
                outer.appendChild(number);
                outer.appendChild(events);
                this.week.appendChild(outer);
            }

            Calendar.prototype.drawEvents = function (day, element) {
                if (day.month() === this.current.month()) {
                    var todaysEvents = this.events.reduce(function (memo, ev) {
                        if (moment(ev.eventStartDate.date).isSame(day, 'day')) {
                            memo.push(ev);
                        }
                        return memo;
                    }, []);

                    todaysEvents.forEach(function (ev) {
                        var evSpan = createElement('span', 'yellow');
                        element.appendChild(evSpan);
                    });
                }
            }

            Calendar.prototype.getDayClass = function (day) {
                classes = ['day'];
                if (day.month() !== this.current.month()) {
                    classes.push('other');
                } else if (today.isSame(day, 'day')) {
                    classes.push('today');
                }
                return classes.join(' ');
            }

            Calendar.prototype.openDay = function (el) {
                var details, arrow;
                var dayNumber = +el.querySelectorAll('.day-number')[0].innerText || +el.querySelectorAll('.day-number')[0].textContent;
                var day = this.current.clone().date(dayNumber);

                var currentOpened = document.querySelector('.details');

                //Check to see if there is an open detais box on the current row
                if (currentOpened && currentOpened.parentNode === el.parentNode) {
                    details = currentOpened;
                    arrow = document.querySelector('.arrow');
                } else {
                    //Close the open events on differnt week row
                    //currentOpened && currentOpened.parentNode.removeChild(currentOpened);
                    if (currentOpened) {
                        currentOpened.addEventListener('webkitAnimationEnd', function () {
                            currentOpened.parentNode.removeChild(currentOpened);
                        });
                        currentOpened.addEventListener('oanimationend', function () {
                            currentOpened.parentNode.removeChild(currentOpened);
                        });
                        currentOpened.addEventListener('msAnimationEnd', function () {
                            currentOpened.parentNode.removeChild(currentOpened);
                        });
                        currentOpened.addEventListener('animationend', function () {
                            currentOpened.parentNode.removeChild(currentOpened);
                        });
                        currentOpened.className = 'details out';
                    }

                    //Create the Details Container
                    details = createElement('div', 'details in');

                    //Create the arrow
                    var arrow = createElement('div', 'arrow');

                    //Create the event wrapper

                    details.appendChild(arrow);
                    el.parentNode.appendChild(details);
                }

                var todaysEvents = this.events.reduce(function (memo, ev) {
                    if (moment(ev.eventStartDate.date).isSame(day, 'day')) {
                        memo.push(ev);
                    }
                    return memo;
                }, []);

                this.renderEvents(todaysEvents, details);

                arrow.style.left = el.offsetLeft - el.parentNode.offsetLeft + 27 + 'px';
            }

            Calendar.prototype.renderEvents = function (events, ele) {
                //Remove any events in the current details element
                var currentWrapper = ele.querySelector('.events');
                var wrapper = createElement('div', 'events in' + (currentWrapper ? ' new' : ''));

                events.forEach(function (ev) {
                    var div = createElement('div', 'event');
                    var span = createElement('a', 'btn btn-yellow', ev.eventName);

                    div.appendChild(span);
                    span.onclick = function () {
                        viewEventDetail(ev.id)
                    };
                    wrapper.appendChild(div);
                });

                if (!events.length) {
                    var div = createElement('div', 'event empty');
                    var span = createElement('span', '', 'No Events');

                    div.appendChild(span);
                    wrapper.appendChild(div);
                }

                if (currentWrapper) {
                    currentWrapper.className = 'events out';
                    currentWrapper.addEventListener('webkitAnimationEnd', function () {
                        currentWrapper.parentNode.removeChild(currentWrapper);
                        ele.appendChild(wrapper);
                    });
                    currentWrapper.addEventListener('oanimationend', function () {
                        currentWrapper.parentNode.removeChild(currentWrapper);
                        ele.appendChild(wrapper);
                    });
                    currentWrapper.addEventListener('msAnimationEnd', function () {
                        currentWrapper.parentNode.removeChild(currentWrapper);
                        ele.appendChild(wrapper);
                    });
                    currentWrapper.addEventListener('animationend', function () {
                        currentWrapper.parentNode.removeChild(currentWrapper);
                        ele.appendChild(wrapper);
                    });
                } else {
                    ele.appendChild(wrapper);
                }
            }

            Calendar.prototype.nextMonth = function () {
                this.current.add('months', 1);
                this.next = true;
                this.draw();
            }

            Calendar.prototype.prevMonth = function () {
                this.current.subtract('months', 1);
                this.next = false;
                this.draw();
            }

            window.Calendar = Calendar;

            function createElement(tagName, className, innerText) {
                var ele = document.createElement(tagName);
                if (className) {
                    ele.className = className;
                }
                if (innerText) {
                    ele.innderText = ele.textContent = innerText;
                }
                return ele;
            }
        }();

        !function () {

            var data = [];

            $.ajax({
                url: Routing.generate('getAllEventData')
            })
                .done(function (ajaxData) {
                    var allEvents = ajaxData.events;
                    allEvents.forEach(function (event) {

                        data.push(event);
                    });
                    var calendar = new Calendar('#calendar', data);
                });

        }();


        function viewEventDetail(eventId) {
            $.ajax({
                url: Routing.generate('eventDetail', {eventId: eventId})
            })
                .done(function (data) {
                    var calendar = document.querySelector('#calendar');
                    var eventDetailContainer = document.querySelector('#eventDetails');
                    var eventCloseButton = document.querySelector("#closeThisEventBtn");
                    var participateToThisButton = document.querySelector('#participateToThisEventBtn');
                    hideOrShow(calendar, [eventDetailContainer, participateToThisButton, eventCloseButton]);
                    for (prop in data) {
                        var container = document.querySelector('#' + prop + 'Result');
                        if (prop.indexOf('Date') > -1) {
                            container.innerHTML = moment(data[prop].date).format('LLL');
                        } else if ((prop.indexOf('allowInscription') > -1) && (data[prop] == false)) {
                            participateToThisButton.innerHTML = 'FULL';
                            var btnClasses = document.getElementById("participateToThisEventBtn").classList;
                            btnClasses.remove('btn-outline-white');
                            btnClasses.add('btn-outline-grey');
                            participateToThisButton.disabled = true;
                        } else {
                            if (prop.indexOf('allowInscription') > -1) {

                            } else if (prop.indexOf('eventCoords') > -1) {
                                document.querySelector('#centralModalGoogleMapBtn').value  = [data[prop][0], data[prop][1]];
                            } else {
                                container.innerHTML = data[prop];
                            }
                        }
                    }
                    participateToThisButton.value = eventId;
                });

        }


        function hideOrShow(elemToHide, elemToShow) {
            $(elemToHide).each(function () {
                $(this).slideDown("slow", function () {
                    $(this).hide();
                });
            });
            $(elemToShow).each(function () {
                $(this).slideUp("slow", function () {
                    $(this).show();
                });
            });


        }

        function participateToThisEvent(eventId) {
            $.ajax({
                url: Routing.generate('participateEvent', {eventId: eventId})
            })
                .done(function (data) {
                    var snackbar = document.getElementById("snackbar");
                    //code: 1 = already registered // code: 2 = error 404 ou 500 // code: 3 = success // code 4 = full.
                    var message;
                    switch (data.data) {
                        case "1":
                            message = "already registered";
                            snackbar.className = "show bg-indigo";
                            break;
                        case "2":
                            message = "error retry later, sorry :(";
                            snackbar.className = "show bg-danger";
                            break;
                        case "3":
                            message = "success ";
                            snackbar.className = "show bg-success";
                            break;
                        case "4":
                            return false;
                            break;
                        default:
                            console.log("Error");
                    }

                    snackbar.innerHTML = message;

                    setTimeout(function () {
                        snackbar.className = '';
                    }, 3000);

                });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNemIkf9Q-cPihdMfAc0WIKXStTIvQ7dw&callback=initMap">
    </script>
    <style type="text/css">
        #map #mapresize {
            height: 400px;
            max-width: 100%;
        }
        .mh-3 {
            height: 12vh;
        }

        #thisEventDetails {
            background: #4A4A4A;
            color: white;
        }

        #eventDetailsTitle {
            background: rgba(66, 66, 66, 1);
            color: white;
        }

        #eventCreatorDetails {
            background: rgba(66, 66, 66, 1);
            color: white;
        }

        .centered {
            margin: 0 auto;
        }

        *, *:before, *:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        #calendar {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            margin: 0 auto;
            height: 570px;
            overflow: hidden;
        }

        #calendar .header {
            height: 50px;
            background: rgba(66, 66, 66, 1);
            text-align: center;
            position: relative;
            z-index: 100;
        }

        #calendar .header h1 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            line-height: 50px;
            font-weight: 300;
            letter-spacing: 1px;
            color: white;
        }

        .left, .right {
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            top: 50%;
            margin-top: -7.5px;
            cursor: pointer;
        }

        .left {
            border-width: 7.5px 10px 7.5px 0;
            border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
            left: 20px;
        }

        .right {
            border-width: 7.5px 0 7.5px 10px;
            border-color: transparent transparent transparent rgba(160, 159, 160, 1);
            right: 20px;
        }

        .month {
            /*overflow: hidden;*/
            opacity: 0;
        }

        .month.new {
            -webkit-animation: fadeIn 1s ease-out;
            opacity: 1;
        }

        .month.in.next {
            -webkit-animation: moveFromTopFadeMonth .4s ease-out;
            -moz-animation: moveFromTopFadeMonth .4s ease-out;
            animation: moveFromTopFadeMonth .4s ease-out;
            opacity: 1;
        }

        .month.out.next {
            -webkit-animation: moveToTopFadeMonth .4s ease-in;
            -moz-animation: moveToTopFadeMonth .4s ease-in;
            animation: moveToTopFadeMonth .4s ease-in;
            opacity: 1;
        }

        .month.in.prev {
            -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
            -moz-animation: moveFromBottomFadeMonth .4s ease-out;
            animation: moveFromBottomFadeMonth .4s ease-out;
            opacity: 1;
        }

        .month.out.prev {
            -webkit-animation: moveToBottomFadeMonth .4s ease-in;
            -moz-animation: moveToBottomFadeMonth .4s ease-in;
            animation: moveToBottomFadeMonth .4s ease-in;
            opacity: 1;
        }

        .week {
            background: #4A4A4A;
        }

        .day {
            display: inline-block;
            padding: 10px;
            text-align: center;
            vertical-align: top;
            cursor: pointer;
            background: #4A4A4A;
            position: relative;
            z-index: 100;
        }

        .day.other {
            color: rgba(255, 255, 255, .3);
        }

        .day.today {
            color: rgba(156, 202, 235, 1);
        }

        .day-name {
            font-size: 9px;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: rgba(255, 255, 255, .5);
            letter-spacing: .7px;
        }

        .day-number {
            font-size: 24px;
            letter-spacing: 1.5px;
        }

        .day .day-events {
            list-style: none;
            margin-top: 3px;
            text-align: center;
            height: 12px;
            line-height: 6px;
            overflow: hidden;
        }

        .day .day-events span {
            vertical-align: top;
            display: inline-block;
            padding: 0;
            margin: 0;
            width: 5px;
            height: 5px;
            line-height: 5px;
            margin: 0 1px;
        }

        .blue {
            background: rgba(156, 202, 235, 1);
        }

        .orange {
            background: rgba(247, 167, 0, 1);
        }

        .green {
            background: rgba(153, 198, 109, 1);
        }

        .yellow {
            background: rgba(249, 233, 0, 1);
        }

        .details {
            position: relative;
            width: 100%;
            height: 75px;
            background: rgba(164, 164, 164, 1);
            margin-top: 5px;
            border-radius: 4px;
        }

        .details.in {
            -webkit-animation: moveFromTopFade .5s ease both;
            -moz-animation: moveFromTopFade .5s ease both;
            animation: moveFromTopFade .5s ease both;
        }

        .details.out {
            -webkit-animation: moveToTopFade .5s ease both;
            -moz-animation: moveToTopFade .5s ease both;
            animation: moveToTopFade .5s ease both;
        }

        .arrow {
            position: absolute;
            top: -5px;
            left: 50%;
            margin-left: -2px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
            transition: all 0.7s ease;
        }

        .events {
            height: 75px;
            padding: 7px 0;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .events.in {
            -webkit-animation: fadeIn .3s ease both;
            -moz-animation: fadeIn .3s ease both;
            animation: fadeIn .3s ease both;
        }

        .events.in {
            -webkit-animation-delay: .3s;
            -moz-animation-delay: .3s;
            animation-delay: .3s;
        }

        .details.out .events {
            -webkit-animation: fadeOutShrink .4s ease both;
            -moz-animation: fadeOutShink .4s ease both;
            animation: fadeOutShink .4s ease both;
        }

        .events.out {
            -webkit-animation: fadeOut .3s ease both;
            -moz-animation: fadeOut .3s ease both;
            animation: fadeOut .3s ease both;
        }

        .event {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: .5px;
            padding: 2px 16px;
            vertical-align: top;
        }

        .event.empty {
            color: #eee;
        }

        .event-category {
            height: 10px;
            width: 10px;
            display: inline-block;
            margin: 6px 0 0;
            vertical-align: top;
        }

        .event span {
            display: inline-block;
            padding: 0 0 0 7px;
        }

        .legend {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            background: rgba(60, 60, 60, 1);
            line-height: 30px;

        }

        .entry {
            position: relative;
            padding: 0 0 0 25px;
            font-size: 13px;
            display: inline-block;
            line-height: 30px;
            background: transparent;
        }

        .entry:after {
            position: absolute;
            content: '';
            height: 5px;
            width: 5px;
            top: 12px;
            left: 14px;
        }

        .entry.blue:after {
            background: rgba(156, 202, 235, 1);
        }

        .entry.orange:after {
            background: rgba(247, 167, 0, 1);
        }

        .entry.green:after {
            background: rgba(153, 198, 109, 1);
        }

        .entry.yellow:after {
            background: rgba(249, 233, 0, 1);
        }

        /* Animations are cool!  */
        @-webkit-keyframes moveFromTopFade {
            from {
                opacity: .3;
                height: 0px;
                margin-top: 0px;
                -webkit-transform: translateY(-100%);
            }
        }

        @-moz-keyframes moveFromTopFade {
            from {
                height: 0px;
                margin-top: 0px;
                -moz-transform: translateY(-100%);
            }
        }

        @keyframes moveFromTopFade {
            from {
                height: 0px;
                margin-top: 0px;
                transform: translateY(-100%);
            }
        }

        @-webkit-keyframes moveToTopFade {
            to {
                opacity: .3;
                height: 0px;
                margin-top: 0px;
                opacity: 0.3;
                -webkit-transform: translateY(-100%);
            }
        }

        @-moz-keyframes moveToTopFade {
            to {
                height: 0px;
                -moz-transform: translateY(-100%);
            }
        }

        @keyframes moveToTopFade {
            to {
                height: 0px;
                transform: translateY(-100%);
            }
        }

        @-webkit-keyframes moveToTopFadeMonth {
            to {
                opacity: 0;
                -webkit-transform: translateY(-30%) scale(.95);
            }
        }

        @-moz-keyframes moveToTopFadeMonth {
            to {
                opacity: 0;
                -moz-transform: translateY(-30%);
            }
        }

        @keyframes moveToTopFadeMonth {
            to {
                opacity: 0;
                -moz-transform: translateY(-30%);
            }
        }

        @-webkit-keyframes moveFromTopFadeMonth {
            from {
                opacity: 0;
                -webkit-transform: translateY(30%) scale(.95);
            }
        }

        @-moz-keyframes moveFromTopFadeMonth {
            from {
                opacity: 0;
                -moz-transform: translateY(30%);
            }
        }

        @keyframes moveFromTopFadeMonth {
            from {
                opacity: 0;
                -moz-transform: translateY(30%);
            }
        }

        @-webkit-keyframes moveToBottomFadeMonth {
            to {
                opacity: 0;
                -webkit-transform: translateY(30%) scale(.95);
            }
        }

        @-moz-keyframes moveToBottomFadeMonth {
            to {
                opacity: 0;
                -webkit-transform: translateY(30%);
            }
        }

        @keyframes moveToBottomFadeMonth {
            to {
                opacity: 0;
                -webkit-transform: translateY(30%);
            }
        }

        @-webkit-keyframes moveFromBottomFadeMonth {
            from {
                opacity: 0;
                -webkit-transform: translateY(-30%) scale(.95);
            }
        }

        @-moz-keyframes moveFromBottomFadeMonth {
            from {
                opacity: 0;
                -webkit-transform: translateY(-30%);
            }
        }

        @keyframes moveFromBottomFadeMonth {
            from {
                opacity: 0;
                -webkit-transform: translateY(-30%);
            }
        }

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }
        }

        @-moz-keyframes fadeIn {
            from {
                opacity: 0;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
        }

        @-webkit-keyframes fadeOut {
            to {
                opacity: 0;
            }
        }

        @-moz-keyframes fadeOut {
            to {
                opacity: 0;
            }
        }

        @keyframes fadeOut {
            to {
                opacity: 0;
            }
        }

        @-webkit-keyframes fadeOutShink {
            to {
                opacity: 0;
                padding: 0px;
                height: 0px;
            }
        }

        @-moz-keyframes fadeOutShink {
            to {
                opacity: 0;
                padding: 0px;
                height: 0px;
            }
        }

        @keyframes fadeOutShink {
            to {
                opacity: 0;
                padding: 0px;
                height: 0px;
            }
        }
    </style>

{% endblock %}