{% extends 'base.html.twig' %}

{% block title %}Register STRIVE{% endblock %}

{% block body  %}

    <section style="margin-top: 80px">


        <div class="card" style="width: 28rem;margin: 0 auto;">
            <div class="card-body">

                <!--Header-->
                <div class="form-header red" style="color: #fff;text-align: center;margin-top: -50px;margin-bottom: 3rem;
                padding: 1rem;border-radius: 2px;">
                    <h3 style="margin-bottom: 0;padding: .7rem;" class="white-text"><i class="fa fa-lock"></i> Signup:</h3>
                </div>

                <!--Body-->
                <form name="fos_user_registration_form" method="post" action="{{ asset(path('fos_user_registration_register')) }}" class="fos_user_registration_register">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required">
                        <label for="fos_user_registration_form_email" class="required">Email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required">
                        <label for="fos_user_registration_form_username" class="required">Username</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required">
                        <label for="fos_user_registration_form_plainPassword_first" class="required">Password</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required">
                        <label for="fos_user_registration_form_plainPassword_second" class="required">Repeat password</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-red waves-effect waves-light">Signup</button>
                    </div>
                    {{ form_row(form._token) }}
                </form>

            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="options" style="display:flex;justify-content: space-between;width: 100%;">
                    <p>Already a member? <a href="{{ asset(path('fos_user_security_login')) }}">Sign In</a></p>
                </div>
            </div>

        </div>


    </section>
{% endblock %}
