{% extends '@Interface/Default/layout.html.twig' %}

{% block container %}
    <div id="title" class="text-center p-4">
        <h3>Participate to an event or create one and let people join yours.</h3>
    </div>
    <div class="content">
        <div id="content" class="d-flex justify-content-around">
            <div class="view overlay hm-red-strong w-40 hm-zoom hoverable">
                <img src="{{ asset('bundles/application/img/create_event.jpeg') }}" class="img-fluid "
                     alt="">
                <a href="{{ asset(path('createEvent')) }}">
                <div class="mask flex-center">
                    <p class="white-text text-uppercase font-weight-bold">
                    Create an event
                    </p>
                </div>
                </a>
            </div>
            <div class="view overlay hm-blue-strong w-40 hm-zoom hoverable">
                <img src="{{ asset('bundles/application/img/displayalleventimg.jpeg') }}" class="img-fluid "
                     alt="">
                <a href="{{ asset(path('displayAllEvent')) }}">
                <div class="mask flex-center">
                    <p class="white-text text-uppercase font-weight-bold">
                        Browse users events
                    </p>
                </div>
                </a>
            </div>
        </div>
        <div id="title" class="text-center m-4 mt-5">
            <h3>Lost ?</h3>
        </div>
        <div class="content" style="height: 120px">
            <div class="view overlay hm-green-strong hm-zoom h-100 hoverable">

                <img src="{{ asset('bundles/application/img/14.jpg') }}" class="img-fluid "
                     alt="">
                <a href="#">
                <div class="mask flex-center">
                    <p class="white-text text-uppercase font-weight-bold">
                        Check out our guide !
                    </p>
                </div>
                </a>
            </div>
        </div>

{% endblock %}