{% extends 'base.html.twig' %}

{% block title %}Signin STRIVE{% endblock %}


{% block body %}

    <section style="margin-top: 80px">


        <div class="card" style="width: 28rem;margin: 0 auto;">
            <div class="card-body">

                <!--Header-->
                <div class="form-header indigo" style="color: #fff;text-align: center;margin-top: -50px;margin-bottom: 3rem;
                padding: 1rem;border-radius: 2px;">
                    <h3 style="margin-bottom: 0;padding: .7rem;" class="white-text"><i class="fa fa-lock"></i> Login:</h3>
                </div>

                <!--Body-->
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                    <label for="username" class="">Username</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="password" name="_password" required="required" class="form-control" />
                    <label for="password">Password</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-indigo waves-effect waves-light">Login</button>
                </div>

                </form>

            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="options" style="display:flex;justify-content: space-between;width: 100%;">
                    <p>Not a member? <a href="{{ asset(path('fos_user_registration_register')) }}">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>

        </div>


    </section>

{% endblock %}
