{% extends '@Interface/Default/layout.html.twig' %}

{% block container %}
    <div class="title">

    </div>
    <div class="row justify-content-around">
        <div class="col-3" style="border-right: 1px solid darkgrey">

        </div>
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'col-7' } }) }}

            <p class="h5 text-center mb-4">Profile</p>

            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
               {{ form_widget(form.username) }}
                <label for="form3">Your username</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                {{ form_widget(form.email) }}
                <label for="form2">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                {{ form_widget(form.current_password) }}
                <label for="form34">Current Password</label>
            </div>
            <div class="text-right">
                <button class="btn btn-unique">update</button>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}