<!DOCTYPE html>
<html lang="en" class="full-height">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Strive - Create your own sports challenge</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('Resources/public/bower/MDBootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{{ asset('Resources/public/bower/MDBootstrap/css/mdb.min.css') }}" rel="stylesheet">

    <!-- Custom Css -->
    <link href="{{ asset('Resources/public/css/main.css') }}" rel="stylesheet">

</head>

<body>

<header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div id="title">
                <a class="navbar-brand" href="#">STRIVE</a>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav text-center">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Features</a>
                </div>

                <div class="navbar-nav">
                    <a href="{{ asset(path('fos_user_registration_register')) }}" class="btn btn-red">Create an
                        account</a>
                    <a href="{{ asset(path('fos_user_security_login')) }}" class="btn btn-indigo">Sign in</a>
                </div>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Intro Section-->
    <section class="view intro-1">
        <div class="full-bg-img flex-center">
            <div class="container">
                <ul>
                    <li>
                        <h1 class="h1-responsive font-bold wow fadeInDown text-white" data-wow-delay="0.2s">Strive</h1></li>
                    <li>
                        <p class="lead mt-4 mb-5 wow fadeInDown text-white">Challenge yourself, participate or organize an event to
                            compete with others</p>
                    </li>
                    <li>
                        <a target="_blank" href="{{ asset(path('fos_user_registration_register')) }}"
                           class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.2s" rel="nofollow">Sign
                            up!</a>
                        <a target="_blank" href="#"
                           class="btn btn-default btn-lg wow fadeInRight" data-wow-delay="0.2s" rel="nofollow">Learn
                            more</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</header>

<!-- Main container-->
<div class="container">

    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">About me</h2>
    </div>

    <!--Section: About-->
    <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">

        <p>Sofiane Dahmani, 25 years old, I've started programming in 2016 with Simplon and since i've never stopped !
        I've made this Web Application for my final exam, hope you like it ! feel free to report any bugs or feedbacks !</p>
    </section>
    <!--Section: About-->

    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn">Best features</h2>
    </div>

    <!--Section: Best features-->
    <section id="best-features">

        <div class="row pt-3 d-flex justify-content-around">

            <!--First columnn-->
            <div class="col-lg-3 mb-r">

                <!--Card-->
                <div class="card wow fadeIn">

                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg"
                         alt="Card image cap">

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title text-center">Create an Event</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">Lets make a quick event and start challenging yourself as you like !</p>
                    </div>

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->

            <!--Second columnn-->
            <div class="col-lg-3 mb-r">
                <!--Card-->
                <div class="card wow fadeIn" data-wow-delay="0.2s">

                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(14).jpg"
                         alt="Card image cap">

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title text-center">Participate to One !</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">You've seen an event you liked ? participate ! One click and you're done !</p>
                    </div>

                </div>
                <!--/.Card-->
            </div>
            <!--Second columnn-->

        </div>

    </section>
    <!--/Section: Best features-->

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeIn">Contact us</h2>
    </div>

    <!--Section: Contact-->
    <section id="contact pb-5">
        <div class="row">
            <!--First column-->
            <div class="col-md-8 mb-5">
                <div id="map-container" class="z-depth-1 wow fadeIn" style="height: 300px"></div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4">
                <ul class="text-center list-unstyled">
                    <li class="wow fadeIn" data-wow-delay="0.2s"><i class="fa fa-map-marker teal-text fa-lg"></i>
                        <p>352 Cours Emile Zola, 69100 Villeurbanne</p>
                    </li>

                    <li class="wow fadeIn mt-5 pt-2" data-wow-delay="0.4s"><i
                                class="fa fa-envelope teal-text fa-lg"></i>
                        <p>dahmani.sof@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!--/Second column-->
        </div>
    </section>
    <!--Section: Contact-->

</div>
<!--/ Main container-->


<!--Footer-->
<footer class="page-footer center-on-small-only elegant-color-dark">
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: Dahmani Sofiane

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->


<!-- SCRIPTS -->

<!-- JQuery -->
<script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/jquery-3.2.1.min.js') }}"></script>

<!-- Bootstrap dropdown -->
<script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/popper.min.js') }}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/bootstrap.min.js') }}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/mdb.min.js') }}"></script>

<!--Google Maps-->

<script src="https://maps.google.com/maps/api/js"></script>

<script type="text/javascript" src="{{ asset('bundles/interface/js/homepage-index.js') }}"></script>



<script type="text/javascript" src="{{ asset('Resources/public/bower/MDBootstrap/js/mdb.min.js') }}"></script>


</body>

</html>

