{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}

        <header class="full-height header">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <div id="title">
                        <a class="navbar-brand" href="{{ asset(path('homepage')) }}">STRIVE</a>
                    </div>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                        <div class="navbar-nav text-center">
                            <a class="nav-item nav-link active" href="{{ asset(path('homepage')) }}">Home <span
                                        class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="{{ asset(path('displayMyEvent')) }}">my event</a>
                        </div>
                        <div class="navbar-nav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ asset(path('admin-index')) }}" class="btn btn-warning">Admin</a>
                            {% endif %}
                            <a href="{{ asset(path('fos_user_profile_edit')) }}" class="btn btn-success">Profile</a>
                            <a href="{{ asset(path('fos_user_security_logout')) }}" class="btn btn-red">Logout</a>
                        </div>
                    </div>
                </div>

            </nav>
            <!--/.Navbar-->
        </header>


        <!-- Main container-->
        <div class="container mt-5">
            {% block container %}



            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}